
.box{
    margin:10px 0;  
}

.note_container{
    background-color: #ffc;
    height: 200px;
    color: #000;
    overflow-y: auto;
    box-shadow: 0 2px 6px #ccc;
    text-align:left;   
}

header.note_title {
    padding:5px 10px;     
    background:#ffc107;
    text-transform:capitalize;
    font-weight:600;
}

.note_content{
    padding:5px 10px;    
}

.note_title > span.delete{
   text-align: right;
}

.no-margin{
    margin-right: 0 !important; 
    margin-left: 0 !important; 
}

.no-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}